@font-face {
  font-family: 'Eugusto';
  src: url('./assets/EugustoFont.otf');
}
@font-face {
  font-family: 'Urbanist';
  src: url('./assets/UrbanistFont.ttf');
}

/* Brand Colors :
off-white: #fbfdf2
dark-green: #235945
mid-green: #3a7b55
green: #529d65
light-green: #6ac076
*/

body {
  text-align: center;
  background-color: #fbfdf2;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  max-height: 100%;
  scroll-behavior: smooth;

}

a {
  text-decoration: none;
  
}

.outerNav {
  display: flex;
  width: 100vw;
  margin-right: auto;
  overflow: hidden;
  justify-content: center;
  /* background-color: black; */
  max-width: 100%;
}
.navbar {
  padding: 0px;
  /* background-color: beige; */
  height: 80px;
  overflow: hidden;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  position: relative;
  padding-bottom: 7px;
  border-bottom: 2px solid #213547;
  

  /* position: fixed; */
  > h1 {
    font-size: 25px;
    font-family: 'Urbanist';
    margin-right: 50px;
  }
}

.navLinks {
  padding: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  > a > p {
    font-size: 20px;
    font-family: 'Urbanist';
    color: #213547;
  }
}

.navLogo {
  height: 70px;
  margin: 5px;

}

.intro {
  max-width: 100%;

  /* border: #235945 2px solid; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0px;
  padding: 0px;
}

.title {
  text-align: center;
  margin-left: 190px;
  margin-bottom: 0px;
  margin-top: 100px;
  width: 600px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  /* background-color: beige; */
  /* border: #235945 2px solid; */
  text-align: left;

  

  > h1 {
    font-family: 'Eugusto';
    font-size: 100px;
    margin: 0px;
  }
}
#hookQuote {
  font-family: 'Urbanist';
}
#homeOrderBtn {
  background-color: #529d65;
  color: #235945;
  width: 150px;

}

.imgHolder {
  /* border: #235945 2px solid; */
  margin: 0px;
}

.backgroundImg {
  height: 600px;
  width: 900px;
  border-radius: 40px;
  transform: translateX(300px) translateY(70px) rotate(-25deg) ;


}

#arrowBtn {
  height: 50px;
  width: 70px;
  transform: rotate(90deg);
  border-radius: 30px;
}
#why{
  font-family: 'Eugusto';
  font-size: 30px;
}

#whyBtn{
  /* background-color:#3a7b55; */
  background-color: #fbfdf2;
  width: 110px;
  height: 110px;
  border-radius: 1000px;
  transition: 0.75s;

}

#whyBtn:hover {
  border-color: #235945;
}



.homePage {
  width: 100%;
  height: 100%;
  /* padding-right: 100px; */
  
  /* background-color: white; */
}



.spacer {
  aspect-ratio: 960/350;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.layer1 {
  background-image: url('../src/assets/waves.svg')
}
.layer2 {
  background-image: url('../src/assets/reversewaves2.svg');
}

#popularItems {
  background-color: #235945;
  width: 100%;
  height: 500px;
  margin: 0px;
  padding: 0px;
  > h1 {
    margin: 0px;
  }
}


.allProducts {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.itemCard {
  border: 3px solid black;
  height: 100px;
  width: 100px;
  margin: 20px;
}